body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 4%;
}

.wrapper {
    width: 55%;
    margin: auto;
}

label {
    display:inline-table;
    width: 22%;
    margin-left: 0%;
}

input {
    margin-bottom: 5px;
}

