body{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image:radial-gradient(white  , #485461);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


a:link{

    color: darkblue;
}

a:hover{

    color: aqua;
}



header img {

  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}





header h1 {

    color:darkslategrey;
}



main {

    margin: 1em;

    border-radius: 7px;

}





main img {



    float: right;



    border: 2px solid;



    margin-left: 10px;

    box-shadow: 10px 10px rgb(117, 116, 116);





}





h3 {



    color:rgb(78, 57, 4);



}





li:nth-child(odd){



   color: rgb(105, 67, 67);



}





footer > div{

   text-align: center;
   background-color: rgb(231, 227, 227);
   border-radius: 50px; 
   padding: 3px;

}